# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile

# VSCode
*.vscode/

# Project Specific Folders
build/
output/
lepton/

# Tests
runner.cpp
test.cpp

levi.sh
launch.sh

# Doxygen documentation
docs/doxygen

# Experiments data
*.csv

odv/sim/configs/custom